<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644207087062-v2d7acfa0uegjeg6pboqqt1unk3fjqe1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644207087062-v2d7acfa0uegjeg6pboqqt1unk3fjqe1</string>
	<key>API_KEY</key>
	<string>AIzaSyAIJSCeVzuCGFoW16HSdD0PdnvwvBoWQPI</string>
	<key>GCM_SENDER_ID</key>
	<string>644207087062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.yourchari.YourChariApp</string>
	<key>PROJECT_ID</key>
	<string>y-chari</string>
	<key>STORAGE_BUCKET</key>
	<string>y-chari.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644207087062:ios:ca4f3bb7a415205ee76877</string>
</dict>
</plist>